{% extends 'base.html' %}

{% block content %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> Frequently asked questions</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> FAQS</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- blog list section-->
<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="blog-item-style-1 blog-item-style-3">
            		<div class="blog-it-infor">
            			<h3><a href=" #">At what time are the movies shown?</a></h3>
            	 
            			<p>Every movie that is on a given day is shown thrice that day in our different halls in the morning, afternoon and evening.<br/>Thank you!</p>
            		</div>
            	</div>
            	<div class="blog-item-style-1 blog-item-style-3 ">
            		<div class="blog-it-infor">
            			<h3><a href=" #">How do i know in which hall is my movie to be shown?</a></h3>
            	 
            			<p>We have your hall printed on the ticket given out. <br/>We also pin different halls on our notice board.<br/>Thank you!</p>
            		</div>
            	</div>
				<div class="blog-item-style-1 blog-item-style-3">
            		<div class="blog-it-infor">
            			<h3><a href=" #">What if i pay for a movie and i fail to come to watch it.</a></h3>
            	 
            			<p>The ticket is a oneday ticket, you can watch the movie at the day it is set to be.<br/>If you miss the morning period, you can go for the afternoon or evening.<br/>For the next day, your ticket is void.<br/>Thank you!</p>
            		</div>
            	</div>
            	<div class="blog-item-style-1 blog-item-style-3">
            		<div class="blog-it-infor">
            			<h3><a href=" #">How can i pay?</a></h3>
            	 
            			<p>We have two modes of payments, there is Cash on entrance (COD) and online payment using Razorpay.<br/>Here you can use your debit card.<br/>Thank you!</p>
            		</div>
            	</div>
            	<div class="blog-item-style-1 blog-item-style-3">
            		<div class="blog-it-infor">
            			<h3><a href=" #">I get different amount when i try paying online, why?</a></h3>
            	 
            			<p>Our payment system converts your total amount to another currency that the system understands, if you continue, the original amount is to be deducted from your account.<b/>Though this is yet to be fixed.<br/>Thank you!</p>
            		</div>
            	</div>
            	<div class="blog-item-style-1 blog-item-style-3">
   
            		<div class="blog-it-infor">
            			<h3><a href=" #">Can i pay using mobile money?</a></h3>
            	 
            			<p>For online payments, you can not use mobile money yet but you can use your mobile money line to create a mastercard that is used for payments. <br/>Thank you!</p>
            		</div>
            	</div>
          
			</div>
			
		</div>
	</div>
</div>
<!--end of blog list section-->
{% endblock content %}