<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register account</title>
	 <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<link rel="stylesheet" href="{% static 'css/plugins.css' %} ">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
	<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="account/register">
			{% csrf_token %}
            <div class="row">
                 <label for="username-2">
                    First name:
                    <input type="text" name="first_name" id="username-2" placeholder="Lutaaya" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>

			<div class="row">
				<label for="username-2">
				   Last name:
				   <input type="text" name="last_name" id="username-2" placeholder="Jamil" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
			   </label>
		   </div>

		   <div class="row">
			<label for="username-2">
			   Username:
			   <input type="text" name="username" id="username-2" placeholder="kifulejohn" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
		   </label>
	   </div>
           
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="email" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password1" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password2" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->


	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/plugins2.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>